/*Basediv Starting*/
.basediv{
    width: 100%;
    height: 925px;
    background-color:#343f46 ;
}
body{
    margin: 0px;
}

/*Leftdiv top Starting*/
.leftdiv{
    width: 29%;
    height: 925px;
    background-color:#111b21;
    float: left;
    border-right: 1px solid rgb(75, 72, 72);
}
.leftdivtopdiv{
    width: 100%;
    height: 80px;
    background-color:#222e35;
}
.in{
    color: rgb(255, 255, 255);
}
.leftdivtopdivprofile{
    width: 60px;
    height: 60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}
.leftdivtopdivcommunity{
    width: 30px;
    height: 30px;
    margin-left: 190px;
    margin-bottom: 20px;
}
.leftdivtopdivstatus{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 17px;
}
.leftdivtopdivchat{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 18px;
}
.leftdivtopdiv3dot{
    width: 30px;
    height: 25px;
    margin-left: 30px;
    margin-bottom: 20px;
}
/*Leftdiv top ending*/

/*Leftdiv bottom Starting*/
/*search and unread div starting*/
.chatbox{
    margin-top: 2px;
    width: 100%;
    height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #111b21;
    -webkit-overflow-scrolling: touch;
}
.chatbox::-webkit-scrollbar{
    display: none;
}
.leftdivbottomdiv{
    width: 100%;
    height: 60px;
    color: black;
    background-color:#111b21;
}
.searchdiv{
    width: 440px;
    height: 100%;

    background-color: #111b21;
    float: left;
}
label {
    display: grid;
    grid-template: 1fr / auto 1fr;
    gap: 12px;
    
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #222e35;
    border-radius: 5px;
    background: #29353b;
    padding: 12px;
    color: #848488;
    cursor: text;
  }
  
  label:focus-within {
    border: 1px solid #ebdfdf;
  }
  
  label>input {
    outline: none;
    border: none;
    background: transparent;
  }
.search{
    width: 440px;
    height: 45px;
    flood-color: #343f46;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    background-color:#343f46;
    border-color: #343f46;
}
.leftdivbottomdivunread{
    width: 30px;
    height: 25px;
    margin-left: 28px;
    margin-top: 18px;
}
/*search and unread div ending*/

/*Chat div starting*/
.chatone{
    width: 100%;
    height: 84px;
    background-color: #111b21;
    border-bottom: 1px solid rgb(75, 72, 72);
}
.imgone{
    width: 70px;
    margin-left: 20px;
    margin-top: 8px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}
.dp{
    width: 120px;
    height: 100%;
    background-color: #111b21;
    float: left;
}
.name{
    width: 300px;
    height: 38px;
    color: blue;
    background-color: #111b21;
    float: left;
}
.day{
    width: 95px;
    height: 40px;
    color: rgb(123, 129, 133);
    background-color: #111b21;
    text-align: center;
    margin-top: 20px;
    float: left;
}
.indname{
    font-size:  25px;
    font-weight: 200;
    color: aliceblue;
    font-family:sans-serif;
    margin-left: 5px;
    margin-top: 10px;
}
.msg{
    font-size: 17px;
    margin-top: 11px;
    margin-left: 8px;
    color: rgb(171, 174, 177);; 
}
#scroll{

    overflow-y: scroll;
    height: 5000px;
}
/*Chat div ending*/

/*rightdiv Starting*/
.rightdiv{
    width: 70%;
    height: 925px;
    color: aliceblue;
    background-color:#222e35 ;
    float: left;
}
.rightdivimg{
    width:13px;
    height: 192px;
    margin-left: 435px;
    margin-top: 196px;
    background-color: #222e35;
}
.rimg{
    width: 433px;
}
.ftxt{
    width: 900px;
    height: 70px;
    color: aliceblue;
    background-color: aliceblue;
    margin-top: 58px;
    margin-left: 215px;
}
.fftxt{
    width: 900px;
    height: 40px;
    color: #ffffff;
    background-color: #222e35;
    text-align: center;
    padding-top: 35px;
    font-size: 42px;
    font-weight: 300;
    font-family:Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif ;
}
.ffftxt{
    width: 900px;
    height: 24px;
    color: #8696a0;
    background-color: #222e35;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 19px;
    font-weight: 300;
    font-family:Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif ;
}
.fffftxt{
    width: 900px;
    height: 27px;
    color: #8696a0;
    background-color: #222e35;
    margin-top: -20px;
    text-align: center;
    padding-top: 20px;
    font-size: 19px;
    font-weight: 300;
    font-family:Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif ;
}
.rbutton{
    width: 170px;
    height: 60px;
    background-color: #00a884;
    margin-left: 360px;
    margin-top: 40px;
    font-size: 19px;
    font-weight:bold;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.end{
    width: 210px;
    height: 40px;
    margin-left: 340px;
    margin-top:150px ;
    background-color: #222e35;
}
.elogo{
    width: 40px;
    height: 40px;
    background-color: #222e35;
    float: left;
}
.eelogo{
    width: 17px;
    height: 18px;
    margin-top: 8px;
    margin-left: 10px;
}
.eend{
    width: 150px;
    height: 20px;
    margin-left: 1px;
    margin-top: 10px;
    float: left;
    color: #626668;

}
/*end rightdiv*/
/*end css*/